@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/mixins';
@import '~cropperjs/dist/cropper.min.css';

@import '~bootstrap';
@import '~swiper/swiper.scss';
@import '~swiper/components/navigation/navigation.min.css';
@import '~swiper/components/pagination/pagination.min.css';

//預設＆工具
@import './setting/reset';
@import './setting/mixins-me';
@import './setting/main';
@import './setting/tools';
@import './tools/width';
@import './tools/btn';


//自訂義元件
@import './components/jobCard';
@import './components/popModal';
@import './components/subNav';
@import './components/contentBox';
@import './components/filter';
@import './components/innerNav';
@import './components/talentCard';
@import './components/infoList';
@import './components/forms';
@import './components/cards';
@import './components/fonts';
@import './components/tableList';
@import './components/flexTable';
@import './components/calendar';
@import './components/sideJobContainer';
@import './tools/spinner';

// 頭尾放最後
@import './components/header';
@import './components/footer';

//套件自訂
@import './helpers/swiper';

//頁面

@import './pages/front';
@import './pages/frontHome';
@import './pages/frontCompanies';
@import './pages/jobPage';
@import './pages/companyPage';
@import './pages/admin';
@import './pages/company';
@import './pages/cv';
@import './pages/chatRoom';
