// 所有按鈕

// 圓形按鈕
.btn--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn--circle.btn-outline-light {
  .jobIcon {
    color: $light;
  }
  &:hover {
    .jobIcon {
      color: $gray-dark;
    }
  }
}
.btn--circle.active {
  background-color: $white;
  border: 0;
}
.btn--circle.active.btn-outline-light {
  .jobIcon {
    color: $primary;
  }
  &:hover {
    .jobIcon {
      color: $primary;
    }
  }
}
.btn--lg {
  width: 44px;
  height: 44px;
}
// 最小 120 寬的 btn
.btn--w--md {
  justify-content: center;
  display: flex;
  min-width: 120px;
}
// 側邊按鈕框
.sideBtnBox {
  position: fixed;
  bottom: 1.5rem;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 800;
  &.SideBtnBox--page {
    bottom: 6rem;
  }
  @include sm {
    .bg-cover--dark {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}
// 側邊按鈕
.sideBtn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  @include shadow-md;
  background-color: rgba(247, 247, 247, 0.9);
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  .jobIcon {
    font-size: 1.5rem;
  }
  &:hover {
    .jobIcon {
      color: $primary;
    }
  }
  @include sm {
    width: 2.5rem;
    height: 2.5rem;
  }
}
// 收藏按鈕(搭配bootstrap btn-outline-gray-line)
.collectBtn {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 0.75rem;
  right: 0.75rem;
  border: 1px solid $gray-line;
  .jobIcon {
    color: $secondary;
  }
  &:hover {
    .jobIcon {
      color: $gray-dark;
    }
  }
  &.collected {
    border: 1px solid $primary-light;
    background-color: $primary-light;
    .jobIcon {
      color: $primary;
    }
  }
}
//  footer的語言切換按鈕
.btn--language {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  border: 1px solid $light;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  padding: 0.25rem;
  &__chinese,
  &__english {
    color: $light;
    padding: 6px 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: $primary;
    width: 56px;
    height: 36px;
    border-radius: 0.25rem;
    z-index: -1;
    transition: all 0.3s;
    right: calc(100% - 0.25rem);
    transform: translateX(100%);
  }
  &__chinese.active,
  &__english.active {
    color: $dark;
  }
  &.active {
    &:after {
      right: calc(0% + 0.25rem);
      transform: translateX(0%);
    }
  }
}

// 切換按鈕
.btn--switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .switch__container {
    position: relative;
    height: 30px;
    width: 50px;
    background-color: $gray-line;
    border-radius: 30px;
    margin-right: 0.25rem;
    &::before {
      content: '';
      position: absolute;
      background-color: $dark;
      border: 1px solid $light;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: $secondary;
      width: 8px;
      height: 1px;
      border-radius: 50%;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
    &.active {
      background-color: $dark;
      .switch__controller {
        left: 22px;
      }
      &::before {
        display: block;
      }
      &::after {
        display: none;
      }
    }
  }
  .switch__controller {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $light;
    left: 2px;
    top: 2px;
  }
}
// 切換按鈕 求職者顏色
.btn--switch.btn--switch--jobSeeker {
  .switch__container {
    &::before {
      background-color: $primary;
    }
    &.active {
      background-color: $primary;
    }
  }
}
// 切換按鈕 企業顏色
.btn--switch.btn--switch--company {
  .switch__container {
    &::before {
      background-color: $companyColor;
    }
    &.active {
      background-color: $companyColor;
    }
  }
}
.btn--text--dark {
  color: $dark;
}