.scvCard {
  background-color: $light;
  border-radius: 0.5rem;
  position: relative;
  @include shadow-normal;
  min-height: 128px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  &:hover {
    // 特別另外做白一點
    background-color: rgba($color: $light, $alpha: 0.5);
  }
  &__img--top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__img {
    width: 148px;
    height: 108px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  .imgCover {
    position: relative;
  }
  .imgCover::after {
    content: '';
    position: absolute;
    background-color: rgba($color: $dark, $alpha: 0.4);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.25rem;
  }
  .imgCover--top {
    position: relative;
  }
  .imgCover--top::after {
    content: '';
    position: absolute;
    background-color: rgba($color: $dark, $alpha: 0.4);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__checkBox {
    width: 36px;
    height: 36px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 2;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
  }
  &__title {
    font-weight: $fw--md;
    color: $dark;
  }
  &__subTxt {
    color: $secondary;
    font-size: 14px;
  }
  &__img {
    width: 148px;
    height: 108px;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  &__btnBox {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
  }
}
.scvCard--border {
  box-shadow: 0;
  border: 1px solid $gray-line;
}
.scvCard--minHeight {
  min-height: 128px;
}
.scvCard.scvCard--messageTemplate {
  min-height: 6rem;
  .scvCard__txtContent {
    max-height: 4rem;
    overflow: hidden;
  }
}
.scvCard.scvCard--coverLetter {
  .scvCard__txtContent {
    max-height: 2.5rem;
    overflow: hidden;
  }
}
.scvCard.scvCard--video {
  @include md {
    padding: 0.75rem;
    flex-direction: row;
    .scvCard__body {
      width: 100%;
    }
    .scvCard__img--top {
      position: static;
      max-height: 120px;
      max-width: 160px;
      object-fit: cover;
      width: auto;
      border-radius: 0.25rem;
    }
  }
}
// 後台新增項目用，屬於按鈕類型
.newScvCard {
  border: 1px dashed $secondary;
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: calc(100% - 1.25rem);
  &__txt {
    color: $dark;
  }
  &:hover {
    background-color: $gray-line;
  }
}
// 服務卡
.serviceCard {
  display: flex;
  border-bottom: 1px solid $gray-line;
  @include bg--hover;
  &__header {
    padding: 0.75rem;
    width: 24%;
  }
  &__img {
    border-radius: 0.25rem;
    object-fit: cover;
    width: 100%;
  }
  &__body {
    flex-grow: 1;
    padding: 0.75rem;
  }
  &__btnBox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: stretch;
    padding: 0.75rem;
  }
  &__title {
    color: $dark;
    font-weight: $fw--md;
  }
  &__infoTxt {
    display: flex;
    align-items: center;
    .subTxt {
      font-size: 14px;
      color: $secondary;
      min-width: 4rem;
      margin-right: 0.75rem;
    }
  }
  @include md {
    flex-direction: column;
    &__header {
      width: 100%;
    }
    &__img {
      height: 160px;
    }
    &__btnBox {
      display: none;
    }
  }
}

.companyCardList {
  .companyCard {
    display: flex;
    position: relative;
    flex-direction: column;
    @include border-bottom;
    background-color: $light;
    border-radius: 0.5rem;
    &__header {
      padding: 0.75rem;
      display: flex;
      align-items: center;
    }
    &__body {
      padding: 0.75rem;
    }
    &__salaryBox {
      width: 10%;
    }
    &__btnBox {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
    }
    &__logoImgBox {
      padding: 0.25rem;
      border: 1px solid $gray-line;
      border-radius: 0.25rem;
      height: 78px;
      .logoImg {
        border: 0;
        height: 100%;
      }
    }
  }
}
// 用於後台資訊列表呈現 單一橫向卡片式
.adminCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-line;
  @include bg--hover;
  &__body{
    padding: 1rem;
  }
  &__footer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include md{
    flex-direction: column;
    align-items: stretch;
    &__footer{
      justify-content: end;
    }
  }
}