.filterBox {
  background-color: $light;
  padding: 1.5rem;
  border-radius: 0.5rem;
  @include md{
    padding: 0.75rem;
  }
  &__section {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-line;
    position: relative;
    &__tag {
      padding: 6px 12px;
      background-color: $gray-light;
      color: $dark;
      border-radius: 0.25rem;
      font-size: 14px;
      margin-right: 1.5rem;
      white-space: nowrap;
    }
    &__tag--title {
      width: 80px;
      display: flex;
      justify-content: center;
      color: $dark;
      font-size: 16px;
      font-weight: $fw--md;
      margin-right: 1.5rem;
    }
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    @include lg {
      &__tag {
        padding: 6px 8px;
        margin-right: 1rem;
      }
      &__tag--title {
        width: 72px;
        margin-right: 1rem;
      }
    }
    @include md {
      flex-direction: column;
      align-items: flex-start;
      &__content {
        align-self: stretch;
      }
      &__tag {
        margin-right: 0rem;
        margin-bottom: 0.75rem;
      }
      &__tag--title {
        margin-right: 0rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}

// 搜尋頁面
.sideFilterBox {
  background-color: $white;
  border-radius: 0.5rem;
  max-width: 320px;
  margin-bottom: 0.5rem;
  z-index: 9999;
  max-height: 80vh;
  position: relative;
  @include shadow-md;
  @include sm {
    max-width: 100%;
    max-height: calc(100vh - 2rem);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.16);
    .bg-cover--dark {
      position: fixed;
      background-color: rgba($color: $black, $alpha: 0.16);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
  &__Header {
    background-color: $gray-light;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contentBox {
    padding: 1rem;
    max-height: 320px;
    overflow-y: auto;
    @include sm {
      max-height: 480px;
    }
  }
  &__section {
    padding: 1rem 0;
    border-bottom: 1px solid $gray-line;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &__tag {
      padding: 0.25rem 0.75rem;
      background-color: $gray-light;
      color: $dark;
      border-radius: 0.25rem;
      font-size: 14px;
      white-space: nowrap;
      margin-bottom: 0.75rem;
      display: inline-block;
    }
  }
  &__footer {
    border-top: 1px solid $gray-line;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
}