.displayTitle{
  font-size: 2.25rem;
  color:$dark;
  font-weight: $fw--md;
  line-height: 1.5;
}
.pageTitle {
  font-size: 1.5rem;
  color: $dark;
  font-weight: $fw--bd;
}
.pageSubTitle{
  font-size: 1.25rem;
  color: $dark;
}
.bodyTxt{
  font-size: 1rem;
  color:$gray-dark;
  font-weight: $fw--rg;
}
.strongTxt{
  font-size: 1rem;
  color:$dark;
  font-weight: $fw--md;
}
.subTxt {
  font-size: 14px;
  font-weight: $fw--rg;
}
.subTxt--foil {
  font-size: 14px;
  font-weight: $fw--rg;
  color:$secondary;
}
.captionTxt{
  font-size: 0.75rem;
  color:$gray-dark;
  font-weight: $fw--rg;
}
.captionTxt--foil{
  font-size: 0.75rem;
  color:$secondary;
  font-weight: $fw--rg;
}
.subTxt--sm {
  font-size: 10px;
  color:$gray-dark;
  font-weight: $fw--rg;
}
.txtLink{
  color: $companyColor;
  font-weight:$fw--rg;
  text-decoration: underline;
}
.txtCompany{
  font-weight:$fw--md;
  color: $companyColor;
}
.txtSeeker{
  font-weight:$fw--md;
  color: $primary-dark;
}
// 有圖標的title，用在求職者前台
.titleBox {
  display: flex;
  align-items: center;
  .titleBox__title {
    color: $dark;
    font-size: 1.5rem;
    font-weight: $fw--bd;
    margin-right: 0.5rem;
  }
  .titleBox__subTitle {
    color: $dark;
    font-size: 1.25rem;
    font-weight: $fw--md;
    margin-right: 0.5rem;
  }
  .titleBox__tag {
    color: $dark;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
  }
  .titleBox__tag--jobSeeker {
    background-color: $primary;
  }
  .titleBox__tag--company {
    background-color: $companyColor;
  }
  
}
.sectionTitle--withTag{
  color: $dark;
  font-size: 1.25rem;
  font-weight: $fw--md;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  .sectionTitleTag--double {
    background-color: $primary-light;
    width: 1.25rem;
    height: 0.75rem;
    border-radius: 0.5rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $primary;
      border-radius: 50%;
      height: 0.75rem;
      width: 0.75rem;
    }
  }
  .sectionTitleTag--double--company {
    background-color: $companyColor-light;
    width: 1.25rem;
    height: 0.75rem;
    border-radius: 0.5rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $companyColor;
      border-radius: 50%;
      height: 0.75rem;
      width: 0.75rem;
    }
  }
}

// 標籤
.jobTag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $gray-mid;
  display: inline-block;
  &:hover {
    background-color: $gray-line;
    color: $dark;
  }
}
.jobTag--new {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $light;
  display: inline-block;
}
.jobTag--company {
  background-color: $companyColor-light;
  color: $companyColor;
}
// 標示新的資料等
.tag--new {
  padding-top: 0.75rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__txt {
    font-weight: $fw--md;
    font-size: 0.75rem;
    color: $primary-dark;
  }
}
// icon 雙圈
.tag--doubleCircle {
  background-color: $primary-light;
  width: 1.25rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }
}
.tag--doubleCircle--company {
  background-color: $companyColor-light;
  width: 1.25rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $companyColor;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }
}