// 基本 input 容器
.form__input {
  margin-bottom: 1rem;
}
.form__input.last {
  margin-bottom: 0;
}
// 表單 input 的 label 容器，可以搭配必填
.form__labelBox {
  display: flex;
  align-items: center;
  margin: 0px 12px 4px 12px;
  .labelBox__label {
    font-size: 14px;
    margin-bottom: 0;
  }
}
// 必填標籤
.formTag--must {
  padding: 1px 0.5rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $dark;
  font-size: 10px;
}
// 必填標籤企業色
.formTag--must.company {
  background-color: $companyColor;
  color: $light;
}
.form-check {
  padding-top: 8px;
  padding-bottom: 8px;
}
.inputItem__switch {
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
}
.searchInput {
  position: relative;
  .jobIcon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
  }
  input {
    height: 100%;
    padding-left: 2.5rem;
    border: 1px solid $light;
  }
}
.inputReader {
  display: flex;
  flex-direction: column;
  &__title {
    padding-left: 0.75rem;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  &__contentBox {
    background-color: $gray-light;
    padding: 0.75rem;
    border-radius: 0.5rem;
    &--minHeight {
      min-height: 120px;
    }
  }
}
.fakeInput {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  padding: 3px 6px 3px 0.75rem;
  &__txtList {
    display: flex;
    max-width: 80%;
    overflow-x: hidden;
    &__line {
      height: 0.75rem;
      border-right: 1px solid $gray-line;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
.fakeInput--counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  &__txtList {
    display: flex;
    max-width: 80%;
    overflow-x: hidden;
    &__line {
      height: 0.75rem;
      border-right: 1px solid $gray-line;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  .fakeBtn {
    cursor: pointer;
    display: flex;
    padding: 0.4375rem 0.75rem;
    &:hover .jobIcon {
      color: $companyColor;
    }
    &.disActive .jobIcon {
      color: $gray-line;
    }
  }
}
.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}
.form__infoEditBox--sm {
  .ck-editor__editable_inline {
    min-height: 160px;
  }
}
.cropImgBox {
  width: 100%;
  height: 160px;
  background-color: $gray-light;
  border: 1px solid $gray-line;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
  border-radius: 0.5rem;
  .cropImg {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .cropImgBox__deleteBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 80;
  }
  .cropImgBox__cover {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    opacity: 0.3;
    position: absolute;
    border-radius: calc(0.5rem - 1px);
    // 設置背景混和模式為相乘模式
  }
  .iconBox {
    background-color: $light;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 50;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $gray-light;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $dark;
    }
  }
}
.cropImgBox--lg {
  min-height: 360px;
}
.editorSelectBoxList {
  display: flex;
  justify-content: space-between;
}
.editorSelectBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  width: calc(33.333% - 0.5rem);
  cursor: pointer;
  &__title {
    padding: 0.25rem 0.75rem;
    background-color: $gray-light;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__imgBox {
    min-height: 120px;
  }
}
.formStepBtnBox {
  display: flex;
}
.formStepBtnBox--border {
  border-top: 1px solid $gray-line;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
