// 資訊列表
.infoList {
  .infoList__item {
    padding: 0.75rem 0;
    @include border-bottom;
    &__title {
      font-size: 0.875rem;
      color: $secondary;
      margin-bottom: 0.25rem;
    }
    .subTxt {
      font-size: 0.875rem;
      color: $secondary;
    }
    &__content {
      font-size: 1rem;
    }
    &.list--last {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .infoList__item:hover {
    .infoList__item__title,
    .subTxt {
      color: $dark;
    }
  }
}
.infoList.infoList--company {
  .infoList__item:hover {
    .infoList__item__title,
    .subTxt {
      color: $companyColor;
    }
  }
  .infoList__item__socialMediaBox {
    &:hover {
      .socialMediaBox__title {
        color: $companyColor;
      }
    }
  }
}
.infoList.infoList--noneBordar {
  .infoList__item {
    border-bottom: 0;
  }
}
.infoList.infoList--jobSeeker {
  .infoList__item:hover {
    .infoList__item__title,
    .subTxt {
      color: $primary-dark;
    }
  }
  .infoList__item__socialMediaBox {
    &:hover {
      .socialMediaBox__title {
        color: $primary-dark;
      }
    }
  }
}
.infoList--lg {
  .infoList__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    @include border-bottom;
    &:first-child {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
.infoList--withBtn{
  .infoList__item{
    @include md{
      flex-direction: column;
      align-items: stretch;
      .infoList__btnBox{
        align-self: end;
        padding-top: 0.75rem;
      }
    }
  }
}
.infoList--bgHover {
  .infoList__item {
    @include bg--hover;
  }
}

// 其他特殊樣式
.infoList {
  .infoList__item {
    &__socialMediaBox {
      background-color: $gray-light;
      border-radius: 0.25rem;
      padding: 0.75rem 1.5rem;
      display: flex;
      align-items: center;
      &:hover {
        .socialMediaBox__title {
          color: $primary-dark;
        }
      }
      .txtLink {
        font-size: 14px;
      }
    }
  }
}
// 多項值組成的橫向列表
.infoList__item {
  .infoList__innerList {
    display: flex;
    flex-wrap: wrap;
    .infoList__innerList__item {
      position: relative;
      margin-right: 0.5rem;
      padding-right: 0.5rem;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-right: 1px solid $gray-line;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
