.popModal {
  // 不同尺寸的 modal
  &__width--sm {
    max-width: 420px;
  }
  &__width--lg {
    max-width: 720px;
  }
  // modal header
  &__header {
    padding: 1.5rem 2.5rem;
    &__subTxt {
      font-size: 14px;
    }
  }
  &__header--center {
    .popModal__header__subTxt,
    .popModal__title {
      text-align: center;
    }
  }
  &__header--left {
    padding-left: 1.5rem;
    .popModal__header__subTxt,
    .popModal__title {
      text-align: left;
    }
  }
  .popModal__title {
    color: $dark;
    font-weight: $fw--md;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  // modal 主要區塊
  .popModal__body{
    position: relative;
    flex: 1 1 auto;
  }
  .popModal__body--p{
    padding: 0 1.5rem;
    position: relative;
    flex: 1 1 auto;
  }
  // 返回原本內容的nav bar
  .popModal__body__subNav {
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray-line;
  }
  // modal footer 預設沒有 border top
  .popModal__footer,.popModal__footer--border  {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
  }
  .popModal__footer--border {
    border-top: 1px solid $gray-line;
  }
  // 修改bootstrap的modal-content
  .modal-content {
    border-radius: 1rem;
    position: relative;
    .btn-close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}