//字體粗細
$fw--li: 300;
$fw--rg: 400;
$fw--md: 500;
$fw--bd: 700;

//字體粗細
$fz--xs: 12px;
$fz--sm: 14px;
$fz--rg: 16px;
$fz--lg: 20px;
$fz--xl: 48px;

$rounded-top:0.5rem 0.5rem 0 0;
$rounded-bottom:0 0 0.5rem 0.5rem;

$rounded-top-sm:0.25rem 0.25rem 0 0;
$rounded-bottom-sm:0 0 0.25rem 0.25rem;

//header
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 666;
}
.section {
  margin-bottom: 3rem;
}
.section--py {
  padding: 4rem 0;
  @include lg {
    padding: 3rem 0;
  }
  @include md {
    padding: 3rem 0;
  }
}
.section--pb {
  padding-bottom: 4rem;
  @include lg {
    padding-bottom: 3rem;
  }
  @include md {
    padding-bottom: 3rem;
  }
}
.main--bg {
  background-color: #f2f2f2;
}
.section__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 1rem;
}
.img-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.36);
}

//main
.main {
  min-height: calc(100vh - 291px);
  position: relative;
  // left: 0;
  // transition: all 0.3s;
  // &.openRwdMenu {
  //   left: -80%;
  // }
}
p {
  line-height: 1.5;
}
.jobImage {
  max-width: 100%;
  border-radius: 8px;
}
.logoImageBox {
  padding: 4px;
  width: 120px;
  background-color: #fff;
  border-radius: 0px 0px 0px 4px;
  .logoImage {
    max-width: 100%;
    border: 1px solid $gray-line;
    border-radius: 2px;
  }
}
.logoImgBox {
  padding: 0.25rem;
  border: 1px solid $gray-line;
  border-radius: 0.5rem;
  .logoImg {
    max-width: 100%;
    border-radius: 0.25rem;
  }
}

// .subTitle待刪除
.subTitle {
  font-size: 1.25rem;
  font-weight: $fw--md;
}
.itemTitle {
  font-weight: $fw--md;
}
.section__title--sub {
  font-size: 1.25rem;
  color: $dark;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  .title__icon {
    display: block;
    width: 1.5rem;
    height: 1rem;
    background-color: $primary;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    margin-right: 0.5rem;
  }
}
.page__title--sub {
  font-size: 1.25rem;
  color: $primary;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  .title__icon {
    display: block;
    width: 1.5rem;
    height: 1rem;
    background-color: $primary;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    margin-right: 0.5rem;
  }
}
.subTxt {
  font-size: 14px;
  font-weight: $fw--rg;
}

// icon設定
.jobIcon {
  font-size: 1.25rem;
  color: $gray-dark;
}
.jobIcon--sm {
  font-size: 1rem;
  color: $gray-dark;
}
// 前台每一頁的padding
.page--py {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.page--pt {
  padding-top: 3rem;
}
.adminPage--py {
  padding-bottom: 3rem;
}

.btnNumber{
  position: relative;
  &__number{
    font-size: 0.75rem;
    position: absolute;
    top: -0.5rem;
    left: calc( 100% - 0.65rem );
    border-radius: 0.5rem;
    padding: 1px 0.25rem;
  }
  &__number--companyColor{
    background-color: $companyColor;
    color:$light;
    border:2px solid $light;
  }
}
// header
//前台header
.header {
  padding: 0.125rem 1rem;
  background-color: $primary;
  border-bottom: 1px solid $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    max-height: 60px;
  }
  //header搜尋視窗定位
  .header__searchModal {
    position: absolute;
    top: 3.75rem;
    right: 0;
    left: 0;
    display: none;
    z-index: 1200;
    &.active {
      display: block;
    }
    @include sm {
      top: 3rem;
    }
  }
  .header__nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  .header__nav__innerList {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .innerList__item {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $dark;
      height: 0rem;
      width: calc(100% - 0.25rem);
      border-radius: 0.25rem 0.25rem 0 0;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    &.active::after {
      height: 0.25rem;
    }
  }
  .innerList__item__link {
    color: $dark;
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
  }
  .innerList__item__link.btn--login--jobSeeker {
    margin-right: 0.5rem;
    padding: 0.5rem 0.75rem;
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.5);
    }
  }
  .innerList__item__link.btn--login--company {
    padding: 0.5rem 0.75rem;
    border: 1px solid $companyColor;
    color: $companyColor;
    &:hover {
      background-color: rgba($color: $companyColor, $alpha: 0.1);
    }
  }
  @include md {
    .header__nav {
      background-color: $light;
      position: fixed;
      top: calc(4rem + 1px);
      bottom: 0;
      left: -100%;
      width: calc(80% + 1px);
      transition: all 0.3s;
      z-index: 1200;
    }
    .header__nav.active {
      left: 0%;
      flex-direction: column;
    }
    .header__nav__innerList {
      max-height: 100%;
      flex-direction: column;
      width: 100%;
    }
    .header__nav__innerList.header__nav__loginBtnList {
      order:1;
      flex-direction: row;
      padding: 1rem;
      .innerList__item{
        border-bottom: 0;
      }
    }
    .innerList__item__link.btn--login--jobSeeker {
      border: 1px solid $primary;
      color: $primary-dark;
      width: calc(100% - 0.5rem);
      &:hover {
        background-color: rgba($color: $primary-dark, $alpha: 0.1);
      }
    }
    .innerList__item {
      width: 100%;
      border-bottom: 1px solid $gray-line;
      &::after {
        left: 1rem;
        bottom: 50%;
        width: 4px;
        transform: translateY(50%);
        border-radius: 0.25rem;
      }
      &.active::after {
        height: 1rem;
      }
    }
    .innerList__item__link {
      padding: 0.75rem 1.75rem;
      font-weight: $fw--rg;
      @include bg--hover;
    }
  }

  @include sm {
    border-bottom: 0;
    padding: 0.125rem 0.5rem;
    .header__logo {
      height: 40px;
    }
    .header__nav {
      top: calc(3rem + 1px);
    }
  }
  .header__companyBtnBox {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
  }
  .header__companyBtnBox--sm {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  .menuCover {
    display: none;
    @include md {
      top: calc(4rem + 1px);
      right: -100%;
      width: 20%;
      position: fixed;
      bottom: 0;
      background-color: rgba($color: $dark, $alpha: 0.8);
      transition: all 0.3s;
      display: block;
      z-index: 999;
      &.active {
        right: 0;
      }
    }
    @include sm {
      top: calc(3rem + 1px);
    }
  }
}