@mixin xl {
  @media (max-width: 1399.98px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1199.98px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 991.98px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 575.98px) {
    @content;
  }
}

// 陰影
@mixin shadow-normal {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
@mixin shadow-md {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
}
@mixin shadow-lg {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}
@mixin shadow-none {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16);
}

// 線
@mixin border-bottom {
  border-bottom: 1px solid $gray-line;
}



// -------------- 以下是關於這次專案的 -------------- 
// 背景 hover
@mixin bg--hover {
  &:hover {
    background-color: rgba($color: $gray-light, $alpha: 0.5);
  }
}
// 選中列表
@mixin list__chooseMark--company {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 0.25rem;
    bottom: 0.25rem;
    background-color: $companyColor;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 0rem;
    transition: all 0.3s;
  }
}
// 選中列表
@mixin list__chooseMark--jobSeeker {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 0.25rem;
    bottom: 0.25rem;
    background-color: $primary;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 0rem;
    transition: all 0.3s;
  }
}
