.bgCover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
// 有圖標的title
.titleBox--tag {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  .titleBox__title {
    color: $dark;
    font-size: 1.5rem;
    font-weight: $fw--bd;
    margin-right: 0.5rem;
  }
  .titleBox__tag {
    color: $dark;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    background-color: $primary;
  }
}
// 按鈕
.collectBtn {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 0.75rem;
  right: 0.75rem;
  border: 1px solid $gray-line;
  .jobIcon {
    color: $secondary;
  }
  &:hover {
    .jobIcon {
      color: $gray-dark;
    }
  }
  &.collected {
    border: 1px solid $primary-light;
    background-color: $primary-light;
    .jobIcon {
      color: $primary;
    }
  }
}
.btn--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &.btn-outline-light {
    .jobIcon {
      color: $light;
    }
    &:hover {
      .jobIcon {
        color: $gray-dark;
      }
    }
  }
}
.btn--circle.active {
  background-color: $white;
  border: 0;
  &.btn-outline-light {
    .jobIcon {
      color: $primary;
    }
    &:hover {
      .jobIcon {
        color: $primary;
      }
    }
  }
}
// 側邊按鈕框
.sideBtnBox {
  position: fixed;
  bottom: 1.5rem;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 800;
  &.SideBtnBox--page {
    bottom: 6rem;
  }
  @include sm {
    .bg-cover--dark {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}
// 側邊按鈕
.sideIconBtn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  @include shadow-md;
  background-color: rgba(247, 247, 247, 0.9);
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  .jobIcon {
    font-size: 1.5rem;
  }
  &:hover {
    .jobIcon {
      color: $primary;
    }
  }
  @include sm {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.btn--applyJob {
  min-width: 120px;
  justify-content: center;
  display: flex;
}
// 標籤
.jobTag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $gray-mid;
  display: inline-block;
  &:hover {
    background-color: $gray-line;
    color: $dark;
  }
}
.jobTag--new {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $light;
  display: inline-block;
}
// 特殊樣式工具區
// 手指
.putPointer {
  cursor: pointer;
}
// 陰影
.box--shadow {
  @include shadow-normal;
}
.box--shadow--lg {
  @include shadow-lg;
}
@include md {
  .w-md-100 {
    width: 100%;
  }
}

// 題錯工具
.alertMessageBoxContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .alertMessageBox {
    background-color: $light;
    border-radius: 0.5rem;
    position: absolute;
    top: 20%;
    max-width: 50%;
    padding: 1rem;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.inputItem__switch {
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
}
.recommendTagList {
  display: flex;
  &__btn {
    margin-right: 0.5rem;
    color: $dark;
    &.active {
      border: 1px solid $primary;
      color: $primary-dark;
      background-color: $primary-light;
    }
    &--new {
      color: $companyColor;
      .jobIcon--sm {
        color: $companyColor;
      }
    }
    &--new:hover {
      color: $light;
      .jobIcon--sm {
        color: $light;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.btn--language {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  border: 1px solid $light;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  padding: 0.25rem;
  &__chinese,
  &__english {
    color: $light;
    padding: 6px 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: $primary;
    width: 56px;
    height: 36px;
    border-radius: 0.25rem;
    z-index: -1;
    transition: all 0.3s;
    right: calc(100% - 0.25rem);
    transform: translateX(100%);
  }
  &__chinese.active,
  &__english.active {
    color: $dark;
  }
  &.active {
    &:after {
      right: calc(0% + 0.25rem);
      transform: translateX(0%);
    }
  }
}
.btn--text--dark {
  color: $dark;
}
.userBox {
  display: flex;
  margin-right: 0.5rem;
  cursor: pointer;
  &__person {
    height: 44px;
    width: 44px;
    background-color: $light;
    border-radius: 50%;
    padding: 2px;
  }
  &__person__box {
    border-radius: 50%;
    overflow: hidden;
    &:hover {
      background-color: $gray-light;
    }
    img {
      max-width: 100%;
    }
    .jobIcon {
      line-height: 1rem;
    }
  }
  &__person__menu {
    height: 44px;
    width: 44px;
    background-color: rgba($color: $light, $alpha: 0.8);
    border-radius: 50%;
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.5);
    }
  }
}
.remind {
  padding: 0.75rem;
  background-color: $primary-light;
  max-width: 37.5rem;
  border-radius: 0.25rem;
  &__title {
    color: $primary-dark;
    font-size: 14px;
  }
}
.btn--switch {
  display: flex;
  align-items: center;
  .switch__container {
    position: relative;
    height: 30px;
    width: 50px;
    background-color: $gray-line;
    border-radius: 30px;
    margin-right: 0.25rem;
    &::before {
      content: '';
      position: absolute;
      background-color: $primary;
      border: 1px solid $light;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: $secondary;
      width: 8px;
      height: 1px;
      border-radius: 50%;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
    &.active {
      background-color: $primary;
      .switch__controller {
        left: 22px;
      }
      &::before {
        display: block;
      }
      &::after {
        display: none;
      }
    }
  }
  .switch__controller {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $light;
    left: 2px;
    top: 2px;
  }
}
.unHandle {
  padding-top: 0.75rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__txt {
    font-weight: $fw--md;
    font-size: 0.75rem;
    color: $primary-dark;
  }
}
.searchInput {
  position: relative;
  .jobIcon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
  }
  input {
    height: 100%;
    padding-left: 2.5rem;
    border: 1px solid $light;
  }
}
.boxSubNav {
  display: flex;
  border-top: 1px solid $gray-line;
  border-bottom: 1px solid $gray-line;
  &__item {
    padding: 0.75rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $light;
    &::after {
      content: '';
      width: 1px;
      height: 1.5rem;
      background-color: $gray-line;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
    }
    &::before {
      content: '';
      width: 4rem;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &.active {
      &::before {
        display: block;
      }
      p {
        color: $primary-dark;
      }
    }
    &:hover {
      p {
        color: $primary-dark;
      }
    }
  }
  &__item:last-child {
    &::after {
      display: none;
    }
  }
  &--50 {
    width: 50%;
  }
}
.popModal {
  &__width--sm {
    max-width: 420px;
  }
  &__width--lg {
    max-width: 720px;
  }
  .modal-content {
    border-radius: 1rem;
    position: relative;
    .btn-close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
  .modal-body {
    padding: 0 1.5rem;
  }
  &__header {
    padding: 1.5rem 2.5rem;
    &__subTxt {
      font-size: 14px;
    }
  }
  &__subHeaderNav{
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray-line;
  }
  &__title {
    color: $dark;
    font-weight: $fw--md;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  &__header--center {
    .popModal__header__subTxt,
    .popModal__title {
      text-align: center;
    }
  }
  &__header--left {
    padding-left: 1.5rem;
    .popModal__header__subTxt,
    .popModal__title {
      text-align: left;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
  }
}
.chatBox {
  padding: 0.75rem;
  display: flex;
  &__img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    background-color: $light;
    border: 1px solid $gray-line;
    margin-right: 0.5rem;
  }
  &__txtBox {
    padding: 0.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    max-width: 360px;
    @include shadow-normal;
  }
  &.checkBox--right {
    flex-direction: row-reverse;
    .chatBox__img {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}
.dropDownMenu {
  background-color: $light;
  padding: 0.75rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  display: none;
  border: 1px solid $gray-line;
  z-index: 100;
  &__item {
    min-width: 120px;
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-line;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.8);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &.active {
    display: block;
  }
}
.dataForm {
  width: 100%;
  height: 360px;
  background-color: $gray-light;
  display: flex;
  .list__item {
    padding: 0.75rem 0.75rem;
    background-color: $light;
    border-bottom: 1px solid $gray-line;
  }
  .list__title {
    background-color: $gray-light;
    padding: 0.25rem 0.75rem;
  }
  &--interestForm{
    height: 407px;
  }
  &__innerList{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
    background-color: $light;
    .formCheck--btn{
      padding-left: 2rem;
      border-radius: 0.5rem;
      border: 1px solid #ced4da;
    }
  }
  &__leftList {
    width: 40%;
    max-height: 100%;
    overflow-y: scroll;
    background-color: $light;
    border-right: 1px solid $gray-line;
    padding-bottom: 1.5rem;
  }
  &__contentBox {
    width: 60%;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
  }
  &__contentBox__list {
    .list__item--check {
      padding-left: 2.5rem;
    }
    .accordion-item {
      border-bottom: 1px solid $gray-line;
    }
  }
}
.foldList__item {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    position: relative;
    z-index: 1;
    .accordion-button {
      position: absolute;
      z-index: -1;
      padding: 0.875rem 0.75rem;
      right: 0;
      top: 0;
    }
  }
}
.editorSelectBoxList {
  display: flex;
  justify-content: space-between;
}
.editorSelectBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  width: calc(33.333% - 0.5rem);
  cursor: pointer;
  &__title {
    padding: 0.25rem 0.75rem;
    background-color: $gray-light;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__imgBox {
    min-height: 120px;
  }
}

.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}
.form__infoEditBox--sm {
  .ck-editor__editable_inline {
    min-height: 160px;
  }
}
.cropImgBox--lg {
  min-height: 360px;
}
.inputReader {
  display: flex;
  flex-direction: column;
  &__title {
    padding-left: 0.75rem;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  &__contentBox {
    background-color: $gray-light;
    padding: 0.75rem;
    border-radius: 0.5rem;
    &--minHeight {
      min-height: 120px;
    }
  }
}
.docVideo__contentBox {
  background-color: $gray-light;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 360px;
}
.notificationList {
  &__item {
    height: 120px;
    border-radius: 0.5rem;
    background-color: $light;
    @include shadow-normal;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.8);
    }
    &__img {
      height: 100%;
    }
  }
}
.calendar {
  background-color: $light;
  border-radius: 0.5rem;
  table {
    width: 100%;
    td {
      border-right: 1px solid $gray-line;
      border-bottom: 1px solid $gray-line;
      &:last-child{
        border-right: 0;
      }
    }
  }
  &__header {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-line;
  }
  &__weekBox {
    display: flex;
    border-bottom: 1px solid $gray-line;
    &__day {
      flex-grow: 1;
      width: calc(100% / 7);
      padding: 0.75rem 0;
      text-align: center;
      font-size: 1rem;
      font-weight: $fw--rg;
      &:hover {
        background-color: $gray-light;
      }
    }
  }
  &__dayBox {
    display: flex;
    &__date {
      flex-grow: 1;
      width: calc(100% / 7);
      padding: 0.75rem;
      min-height: 120px;
      &.nextMonth{
        background-color: rgba($color: $gray-line, $alpha: 0.5);
      }
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
.userImgBox {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: $light;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  &__editBtn {
    position: absolute;
    bottom: -0.75rem;
    right: -0.75rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: $light;
    .btn--circle {
      background-color: $gray-light;
    }
  }
}
.timeLine{
  display: flex;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.25rem;
    z-index: -1;
    background-color: $gray-line;
  }
  &__dot{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $gray-line;
    position: relative;
    z-index: 1;
  }
  &__dot:not(:last-child){
    margin-right: 4rem;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      width: 4.75rem;
      height: 0.25rem;
      z-index: -1;
      background-color: $primary;
      display: none;
    }
  }
  &__dot.active{
    background-color: $primary;
  }
  &__dot.line-active{
    background-color: $primary;
    &::before{
      display: block;
    }
  }
}
.fakeInput{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  padding: 3px 6px 3px 0.75rem;
  &__txtList{
    display: flex;
    max-width: 80%;
    overflow-x: hidden;
    &__line{
      height: 0.75rem;
      border-right:1px solid $gray-line ;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
.titleTag--doubleCircle {
  background-color: $primary-light;
  width: 1.25rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }
}
.mapBox{
  width: 100%;
  &__map{
    width: 100%;
    border-radius: 0.5rem;
  }
}