.bgCover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
// 有圖標的title，用在求職者前台
.titleBox--tag {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  .titleBox__title {
    color: $dark;
    font-size: 1.5rem;
    font-weight: $fw--bd;
    margin-right: 0.5rem;
  }
  .titleBox__tag {
    color: $dark;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    background-color: $primary;
  }
}
// 標籤
.jobTag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $gray-mid;
  display: inline-block;
  &:hover {
    background-color: $gray-line;
    color: $dark;
  }
}
.jobTag--new {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $light;
  display: inline-block;
}
.jobTag--company {
  background-color: $companyColor-light;
  color: $companyColor;
}
// 特殊樣式工具區
// 手指
.putPointer {
  cursor: pointer;
}
// 陰影
.box--shadow {
  @include shadow-normal;
}
.box--shadow--lg {
  @include shadow-lg;
}
@include md {
  .w-md-100 {
    width: 100%;
  }
}

// 題錯工具
.alertMessageBoxContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .alertMessageBox {
    background-color: $light;
    border-radius: 0.5rem;
    position: absolute;
    top: 20%;
    max-width: 50%;
    padding: 1rem;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}


.userBox {
  display: flex;
  margin-right: 0.5rem;
  cursor: pointer;
  &__person {
    height: 44px;
    width: 44px;
    background-color: $light;
    border-radius: 50%;
    padding: 2px;
  }
  &__person__box {
    border-radius: 50%;
    overflow: hidden;
    &:hover {
      background-color: $gray-light;
    }
    img {
      max-width: 100%;
    }
    .jobIcon {
      line-height: 1rem;
    }
  }
  &__person__menu {
    height: 44px;
    width: 44px;
    background-color: rgba($color: $light, $alpha: 0.8);
    border-radius: 50%;
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.5);
    }
  }
}

// 提示匡
.remind {
  padding: 0.75rem;
  background-color: $primary-light;
  max-width: 37.5rem;
  border-radius: 0.25rem;
  &__title {
    color: $primary-dark;
    font-size: 14px;
  }
}
// 標示新的資料等
.tag--new {
  padding-top: 0.75rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__txt {
    font-weight: $fw--md;
    font-size: 0.75rem;
    color: $primary-dark;
  }
}

.boxSubNav {
  display: flex;
  border-top: 1px solid $gray-line;
  border-bottom: 1px solid $gray-line;
  &__item {
    padding: 0.75rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $light;
    &::after {
      content: '';
      width: 1px;
      height: 1.5rem;
      background-color: $gray-line;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
    }
    &::before {
      content: '';
      width: 4rem;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &.active {
      &::before {
        display: block;
      }
      p {
        color: $primary-dark;
      }
    }
    &:hover {
      p {
        color: $primary-dark;
      }
    }
  }
  &__item:last-child {
    &::after {
      display: none;
    }
  }
  &--50 {
    width: 50%;
  }
}
.boxSubNav--company {
  .boxSubNav__item::before {
    background-color: $companyColor;
  }
  .boxSubNav__item.active {
    p {
      color: $companyColor;
    }
  }
  .boxSubNav__item:hover {
    p {
      color: $companyColor;
    }
  }
}


// 聊天室頁面
.chatBox {
  padding: 0.75rem;
  display: flex;
  &__img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    background-color: $light;
    border: 1px solid $gray-line;
    margin-right: 0.5rem;
  }
  &__txtBox {
    padding: 0.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    max-width: 360px;
    @include shadow-normal;
  }
  &.checkBox--right {
    flex-direction: row-reverse;
    .chatBox__img {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}



// 搭配 bootstrap 的 dropdown 
.dropDownMenu {
  background-color: $light;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  z-index: 100;
  &__item {
    min-width: 120px;
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include border-bottom;
    @include list--bg--hover;
    &:last-child {
      border-bottom: 0;
    }
  }
}




.dataForm {
  width: 100%;
  height: 360px;
  background-color: $gray-light;
  display: flex;
  .list__item {
    padding: 0.75rem 0.75rem;
    background-color: $light;
    border-bottom: 1px solid $gray-line;
  }
  .list__title {
    background-color: $gray-light;
    padding: 0.25rem 0.75rem;
  }
  &--interestForm {
    height: 407px;
  }
  &__innerList {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
    background-color: $light;
    .formCheck--btn {
      padding-left: 2rem;
      border-radius: 0.5rem;
      border: 1px solid #ced4da;
    }
  }
  &__leftList {
    width: 40%;
    max-height: 100%;
    overflow-y: scroll;
    background-color: $light;
    border-right: 1px solid $gray-line;
    padding-bottom: 1.5rem;
  }
  &__contentBox {
    width: 60%;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
  }
  &__contentBox__list {
    .list__item--check {
      padding-left: 2.5rem;
    }
    .accordion-item {
      border-bottom: 1px solid $gray-line;
    }
  }
}
// 折疊
.foldList__item {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    position: relative;
    z-index: 1;
    .accordion-button {
      position: absolute;
      z-index: -1;
      padding: 0.875rem 0.75rem;
      right: 0;
      top: 0;
    }
    &.companyActive {
      background-color: $companyColor-light;
      p {
        color: $companyColor;
      }
    }
  }
}
.editorSelectBoxList {
  display: flex;
  justify-content: space-between;
}
.editorSelectBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  width: calc(33.333% - 0.5rem);
  cursor: pointer;
  &__title {
    padding: 0.25rem 0.75rem;
    background-color: $gray-light;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__imgBox {
    min-height: 120px;
  }
}

.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}
.form__infoEditBox--sm {
  .ck-editor__editable_inline {
    min-height: 160px;
  }
}
.cropImgBox--lg {
  min-height: 360px;
}

.docVideo__contentBox {
  background-color: $gray-light;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 360px;
}
// 後台通知板塊搭配圖片
.notificationList {
  &__item {
    height: 120px;
    border-radius: 0.5rem;
    background-color: $light;
    @include shadow-normal;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.8);
    }
    &__img {
      height: 100%;
    }
  }
}
// 後台日曆
.calendar {
  background-color: $light;
  border-radius: 0.5rem;
  table {
    width: 100%;
    td {
      border-right: 1px solid $gray-line;
      border-bottom: 1px solid $gray-line;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__header {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-line;
  }
  &__weekBox {
    display: flex;
    border-bottom: 1px solid $gray-line;
    &__day {
      flex-grow: 1;
      width: calc(100% / 7);
      padding: 0.75rem 0;
      text-align: center;
      font-size: 1rem;
      font-weight: $fw--rg;
      &:hover {
        background-color: $gray-light;
      }
    }
  }
  &__dayBox {
    display: flex;
    &__date {
      flex-grow: 1;
      width: calc(100% / 7);
      padding: 0.75rem;
      min-height: 120px;
      &.nextMonth {
        background-color: rgba($color: $gray-line, $alpha: 0.5);
      }
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
.userImgBox {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: $light;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  &__editBtn {
    position: absolute;
    bottom: -0.75rem;
    right: -0.75rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: $light;
    .btn--circle {
      background-color: $gray-light;
    }
  }
}
.timeLine {
  display: flex;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.25rem;
    z-index: -1;
    background-color: $gray-line;
  }
  &__dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $gray-line;
    position: relative;
    z-index: 1;
  }
  &__dot:not(:last-child) {
    margin-right: 4rem;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      width: 4.75rem;
      height: 0.25rem;
      z-index: -1;
      background-color: $primary;
      display: none;
    }
  }
  &__dot.active {
    background-color: $primary;
  }
  &__dot.line-active {
    background-color: $primary;
    &::before {
      display: block;
    }
  }
}
.timeLine.timeLine--company {
  .timeLine::before {
    background-color: $companyColor;
  }
  .timeLine__dot:not(:last-child) {
    &::before {
      background-color: $companyColor;
    }
  }
  .timeLine__dot.active {
    background-color: $companyColor;
  }
  .timeLine__dot.line-active {
    background-color: $companyColor;
  }
}

// icon 雙圈
.tag--doubleCircle {
  background-color: $primary-light;
  width: 1.25rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }
}
.tag--doubleCircle--company {
  background-color: $companyColor-light;
  width: 1.25rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $companyColor;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }
}




.mapBox {
  width: 100%;
  &__map {
    width: 100%;
    border-radius: 0.5rem;
  }
}
// 聊天室右側
.sideContainerTitleBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-line;
  min-height: 50px;
}
.toolList {
  padding-left: 0.75rem;
  &__title {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    font-weight: $fw--md;
    color: $dark;
  }
  &__item {
    margin-left: 0.75rem;
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.5);
    }
  }
}
.btnBox--positionAb--topRight {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.jobDataList {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    &__title,
    &__txt,
    &__listTxt {
      color: $gray-dark;
    }
    &__txt.noContent,
    &__listTxt.noContent {
      color: $secondary;
    }
  }
  &__item:hover {
    .jobDataList__item__txt,
    .jobDataList__item__title,
    .jobDataList__item__listTxt {
      color: $primary-dark;
    }
  }
}
.form__input--question {
  position: relative;
  .iconBox {
    background-color: $light;
    border-radius: 50%;
    padding: 0.25rem;
    position: absolute;
    top: 0.25rem;
    right: -0.75rem;
    z-index: 50;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $gray-light;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $dark;
    }
  }
}
.boxInnerList {
  padding-bottom: 0.5rem;
  &__item {
    padding: 1rem;
    border-bottom: 1px solid $gray-line;
    .boxInnerList__item__title {
      font-size: 1rem;
      font-weight: $fw--md;
      color: $dark;
    }
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.5);
      .boxInnerList__item__title {
        color: $companyColor;
      }
    }
  }
}

// 後台主要區塊的底：分為有無padding、固定高
.adminContentBox{
  position: relative;
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  &__btnBox {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
  }
}
.adminContentBox--p{
  padding: 1.5rem;
}
.adminContentBox--p--sm{
  padding: 1rem;
}
.adminContentBox--full{
  min-height: calc(80vh - 132px);
}

.backToPageBtn {
  &__title {
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 20px;
      background-color: $gray-line;
      border-radius: 50%;
      left: -0.5rem;
      top: 0;
      position: absolute;
    }
  }
}
// 自定義table
.flexTable {
  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $gray-line;
  }
  &__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    bottom: 0;
  }
  &__cell {
    padding: 0 0.5rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &--0 {
      flex: 0;
    }
    &--1 {
      flex: 1;
    }
    &--2 {
      flex: 2;
    }
    &--3 {
      flex: 3;
    }
    &--4 {
      flex: 4;
    }
  }
  &__item {
    padding: 0.75rem 1rem;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray-line;
    &__title {
      font-weight: $fw--md;
      color: $dark;
    }
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.5);
      .flexTable__body__item__title {
        color: $companyColor;
      }
    }
  }
}
.tableList {
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding: 0.5rem;
    &__title {
      font-size: 0.875rem;
      color: $secondary;
      margin-bottom: 0.25rem;
    }
    &:hover {
      .tableList__item__title {
        color: $companyColor;
      }
    }
    &--btnList {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__tagBtn--company {
      border-radius: 0.25rem;
      border: 1px solid $gray-line;
      padding: 1px 0.5rem;
      &:hover {
        border: 1px solid $companyColor;
        color: $companyColor;
      }
    }
  }
}
// 自己設定的尺寸
.w--100 {
  width: 100%;
}
.w--50 {
  width: 50%;
}
.w--25 {
  width: 25%;
}
.w--xl--100 {
  @include xl {
    width: 100%;
  }
}
.w--xl--50 {
  @include xl {
    width: 50%;
  }
}
.w--xl--25 {
  @include xl {
    width: 25%;
  }
}
.w--xl--0 {
  @include xl {
    width: 0%;
  }
}
.w--lg--100 {
  @include lg {
    width: 100%;
  }
}
.w--lg--50 {
  @include lg {
    width: 50%;
  }
}
.w--lg--25 {
  @include lg {
    width: 25%;
  }
}
.w--lg--0 {
  @include lg {
    width: 0%;
  }
}
.w--md--100 {
  @include md {
    width: 100%;
  }
}
.w--md--50 {
  @include md {
    width: 50%;
  }
}
.w--md--25 {
  @include md {
    width: 25%;
  }
}
.w--md--0 {
  @include md {
    width: 0%;
  }
}
.w--sm--100 {
  @include sm {
    width: 100%;
  }
}
.w--sm--50 {
  @include sm {
    width: 50%;
  }
}
.w--sm--25 {
  @include sm {
    width: 25%;
  }
}
.w--sm--0 {
  @include sm {
    width: 0%;
  }
}

// 折疊列表
.collapseList {
  border-radius: $rounded-top;
  &__header {
    background-color: $white;
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    border-radius: $rounded-top;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body {
    height: 0;
    overflow: hidden;
  }
  &__body.active {
    height: auto;
    padding-bottom: 1rem;
    background-color: $gray-light;
  }
  &__item {
    padding: 0.75rem;
    padding-left: 2rem;
    background-color: $white;
    border-bottom: 1px solid $gray-line;
    @include list--bg--hover;
    .item__title {
      color: $dark;
    }
  }
}
.collapseList--company {
  .collapseList__header.active {
    p {
      color: $companyColor;
    }
  }
  .collapseList__item {
    @include list__chooseMark--company;
  }
  .collapseList__item.active {
    background-color: $companyColor-light;
    .collapseList__item__title {
      color: $companyColor;
    }
    .subTxt {
      color: $companyColor;
    }
  }
}
.collapseList__item.active {
  &::after {
    width: 0.25rem;
  }
}

