// 自己設定的尺寸
.w--100 {
  width: 100%;
}
.w--75 {
    width: 75%;
}
.w--50 {
  width: 50%;
}
.w--25 {
  width: 25%;
}
.w--33 {
  width: 33.33333%;
}
.w--xl--100 {
  @include xl {
    width: 100%;
  }
}
.w--xl--75 {
  @include xl {
    width: 75%;
  }
}
.w--xl--50 {
  @include xl {
    width: 50%;
  }
}
.w--xl--33 {
  @include xl {
    width: 33.333333%;
  }
}
.w--xl--25 {
  @include xl {
    width: 25%;
  }
}
.w--xl--0 {
  @include xl {
    width: 0%;
  }
}
.w--lg--100 {
  @include lg {
    width: 100%;
  }
}
.w--lg--75 {
  @include lg {
    width: 75%;
  }
}
.w--lg--50 {
  @include lg {
    width: 50%;
  }
}
.w--lg--25 {
  @include lg {
    width: 25%;
  }
}
.w--lg--33 {
  @include lg {
    width: 33.333333%;
  }
}
.w--lg--0 {
  @include lg {
    width: 0%;
  }
}
.w--md--100 {
  @include md {
    width: 100%;
  }
}
.w--md--75 {
  @include md {
    width: 75%;
  }
}
.w--md--50 {
  @include md {
    width: 50%;
  }
}
.w--md--33 {
  @include md {
    width: 33.333333%;
  }
}
.w--md--25 {
  @include md {
    width: 25%;
  }
}
.w--md--0 {
  @include md {
    width: 0%;
  }
}
.w--sm--100 {
  @include sm {
    width: 100%;
  }
}
.w--sm--75 {
  @include sm {
    width: 75%;
  }
}
.w--sm--50 {
  @include sm {
    width: 50%;
  }
}
.w--sm--33 {
  @include sm {
    width: 33.333333%;
  }
}
.w--sm--25 {
  @include sm {
    width: 25%;
  }
}
.w--sm--0 {
  @include sm {
    width: 0%;
  }
}