.editSkillListBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  &__header {
    padding: 0.5rem 0.75rem;
    background-color: $gray-line;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__list {
    min-height: 3rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
  }
  .list__item {
    margin-right: 0.5rem;
    &__skill {
      display: flex;
      align-items: center;
    }
    &__skillLevel {
      padding-left: 0.75rem;
      position: relative;
      &::before {
        content: '';
        width: 0.25rem;
        height: 1px;
        background-color: $gray-dark;
        position: absolute;
        position: absolute;
        left: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .jobTag__delete {
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: 0.25rem;
      &:hover {
        background-color: rgba($color: $light, $alpha: 0.5);
      }
    }
  }
}
.textarea--tag {
  position: relative;
  &__tagList {
    display: flex;
    border: 1px solid #ced4da;
    padding: 0.5rem 0.75rem;
    border-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__inputBox {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.jobTag--letter {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  &::before {
    content: '';
    background-color: $gray-dark;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
}

.dataEditForm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-line;
}
.workPickerBox {
  border-top: 1px solid $gray-line;
  padding: 1rem 1.5rem;
  background-color: $gray-light;
  height: 360px;
  overflow-y: scroll;
}
.uploadUserImgIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  min-height: 280px;
  &__img {
    width: 160px;
    border-radius: 0.5rem;
  }
}

