//後台
.admin-sideList {
  position: sticky;
  top: 86px;
  max-height: calc(80vh - 60px);
  overflow-y: auto;
  background-color: $light;
  border-radius: 0.5rem;
  @include md {
    overflow-y: inherit;
    max-height: 100%;
    &.checked {
      display: none;
    }
  }
  .list-group-item {
    border: 0;
  }
  .sideList__top {
    display: flex;
    border-bottom: 1px solid $gray-line;
    &__item {
      padding: 0.75rem 0.75rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $light;
      &::after {
        content: '';
        width: 1px;
        height: 1.5rem;
        background-color: $gray-line;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
      }
      &::before {
        content: '';
        width: 4rem;
        height: 0.25rem;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: $companyColor;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
      }
      &.active {
        &::before {
          display: block;
        }
        p {
          color: $companyColor;
        }
      }
      &:hover {
        p {
          color: $companyColor;
        }
      }
    }
    &__item:last-child {
      &::after {
        display: none;
      }
    }
    &--50 {
      width: 50%;
    }
  }
  .sideList__item {
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $gray-line;
    transition: all 0.3s;
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: $gray-light;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;
      border-radius: 0.25rem 0 0 0.25rem;
      width: 0rem;
      opacity: 0;
      transition: all 0.3s;
    }
    &.active {
      background-color: $primary-light;
      transition: all 0.3s;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
      &::after {
        width: 0.25rem;
        opacity: 1;
        transition: all 0.3s;
      }
    }
    &__title {
      color: $dark;
      font-weight: $fw--md;
    }
    &__subTxt {
      color: $secondary;
      font-size: 0.75rem;
    }
  }
}
.admin-sideList.admin-sideList--company {
  .sideList__item {
    &:hover {
      background-color: $gray-light;
      .sideList__item__title {
        color: $companyColor;
      }
      .sideList__item__subTxt {
        color: $companyColor;
      }
    }
    &::after {
      background-color: $companyColor;
    }
    &.active {
      background-color: $companyColor-light;
      .sideList__item__title {
        color: $companyColor;
      }
      .sideList__item__subTxt {
        color: $companyColor;
      }
    }
  }
}
.adminSelectBox {
  min-height: calc(80vh - 132px);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  @include md {
    display: none;
    &.checked {
      display: block;
    }
  }
  .adminSelectBox__btnList {
    display: flex;
    justify-content: flex-end;
    @include md {
      background-color: $light;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      padding: 0.75rem 1rem;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.16);
    }
  }
}
.pageSubTitle {
  font-size: 20px;
  color: $dark;
}
.selectBox__section {
  position: relative;
  border-bottom: 1px solid $gray-line;
  padding: 1.5rem;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .collectBtn {
    right: 0;
  }
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 48px;
    .jobImage {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -4px;
    right: -36px;
    padding: 6px;
    background-color: #fff;
    border-radius: 0px 0px 0px 4px;
    .logoImage {
      width: 120px;
      border: 1px solid $gray-line;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 12px;
  }
  .page__txt {
    color: #646464;
  }
  .page__link {
    text-decoration: underline;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
    @include sm {
      max-width: 100%;
    }
  }
  .logoImageBox.company {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px;
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    .logoImage {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .jobContent__imgBox.company {
    width: auto;
    margin-right: 12px;
  }
}
.adminInfoList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75rem;
  .innerList__item {
    margin-bottom: 0.75rem;
    width: 50%;
    @include sm {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
    &:hover {
      .innerList__item__txt {
        color: $primary;
      }
    }
    &__subTxt {
      font-size: 14px;
      color: $secondary;
      margin-bottom: 0.25rem;
    }
  }
}
.admin__subHeader {
  background-color: $light;
  top: 60px;
  @include md {
    display: flex;
    &.checked {
      display: none;
    }
  }
}
.admin__subHeader--edit {
  position: sticky;
  top: 65px;
  right: 0;
  left: 0;
  z-index: 99;
}
.admin__subNav {
  min-height: 60px;
  display: flex;
  background-color: $white;
  &__title {
    font-size: 20px;
    color: $dark;
    font-weight: 500;
    margin-right: 3rem;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    transition: all 0.3s;
    &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: $primary;
      bottom: 0;
      right: 4px;
      left: 4px;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover {
      background-color: $primary-light;
      .admin__subNav__txt {
        color: $dark;
      }
    }
    &.active {
      background-color: $primary-light;
      &::after {
        opacity: 1;
      }
      .admin__subNav__txt {
        color: $primary-dark;
      }
    }
  }
}
.applyJobPage {
  position: relative;
  .applyJobPage__sideBox {
    position: sticky;
    top: 112px;
    @include md {
      position: static;
      .jobSelectBox {
        max-height: 480px;
      }
    }
    @include sm {
      .jobSelectBox {
        max-height: 240px;
      }
    }
  }
  .jobSelectBox {
    max-height: 78vh;
  }
}

.editCompanyInfoBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .form__inputBox {
    margin-bottom: 0;
  }
  .inputBox--logo {
    width: calc(32% - 10px);
  }
  .companyInfoBox__txtBox {
    width: calc(68% - 10px);
    display: flex;
    flex-direction: column;
    .form__inputBox {
      width: 80%;
    }
  }
  .editCompanyData {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
.btn--preview {
  background-color: $light;
  border: 1px solid $gray-line;
  color: $dark;
}
.btn--preview.active {
  background-color: $companyColor-light;
  color: $companyColor;
  border: 1px solid $companyColor-light;
  .jobIcon--sm {
    color: $companyColor;
  }
}
.header__userMenuModal {
  position: absolute;
  top: 0rem;
  width: 100%;
  z-index: 1200;
  display: none;
  height: 100vh;
  padding-top: 3.75rem;
  &.active {
    display: block;
  }
}
.userBox__person__menu {
  .bi-chevron-up {
    display: none;
  }
  .bi-chevron-down {
    display: block;
  }
  &.active {
    .bi-chevron-up {
      display: block;
    }
    .bi-chevron-down {
      display: none;
    }
  }
}
.userMenu {
  width: 100%;
  background-color: $light;
  border-radius: 0.5rem;
  padding: 1rem;
  @include shadow-normal;
  &__list {
    .list__item {
      cursor: pointer;
      border-bottom: 1px solid $gray-line;
      &:last-child {
        border: 0;
      }
      &__link {
        color: $dark;
        padding: 0.75rem 0;
      }
      &:hover {
        .list__item__link {
          color: $primary-dark;
        }
      }
    }
    &__logOut {
      background-color: $gray-light;
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
  }
}
.setting__sideList {
  position: sticky;
  top: 86px;
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  &__nav {
    padding-bottom: 1rem;
    .nav__item {
      cursor: pointer;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.75rem;
      border-bottom: 1px solid $gray-line;
      position: relative;
      &:first-child {
        border-top: 1px solid $gray-line;
      }
      &::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $primary;
        border-radius: 0.25rem 0 0 0.25rem;
        width: 0rem;
        opacity: 0;
        transition: all 0.3s;
      }
      &.active {
        background-color: $primary-light;
        transition: all 0.3s;
        .nav__item__title {
          color: $primary-dark;
        }
        &::after {
          width: 0.25rem;
          opacity: 1;
          transition: all 0.3s;
        }
      }
      .jobIcon {
        color: $gray-line;
      }
    }
  }
}
.setting__personImgBox {
  width: 120px;
  height: 120px;
  background-color: $gray-light;
  border-radius: 50%;
  overflow: hidden;
  .personImgBox__img {
    max-width: 100%;
  }
}
.admin__mainContent {
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  padding: 1.5rem;
  position: relative;
  min-height: 480px;
  &__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  &__btnBox {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
  }
}
.infoList__item {
  padding: 0.75rem 0;
  border-bottom: 1px solid $gray-line;
  &.list--last {
    border-bottom: 0;
    padding-bottom: 0;
  }
  &:hover {
    .infoList__item__title,
    .infoList__item__jobTitle {
      color: $primary-dark;
    }
  }
  &__title {
    font-size: 14px;
    color: $secondary;
    margin-bottom: 0.25rem;
  }
  &__socialMediaBox {
    background-color: $gray-light;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    &:hover {
      .socialMediaBox__title {
        color: $primary-dark;
      }
    }
    .socialMediaBox__link {
      text-decoration: underline;
      color: $secondary;
    }
  }
  &__jobTitle {
    color: $dark;
  }
  &__subTitle {
    font-size: 14px;
    color: $secondary;
  }
  &__contentBox {
    padding: 0.75rem;
    background-color: $gray-light;
    border-radius: 0.5rem;
    .contentBox__title {
      font-size: 14px;
      color: $secondary;
    }
  }
  &.show--compressed {
    .btn--edit {
      min-width: 78px;
    }
    .infoList__item__skillList {
      display: flex;
      flex-wrap: wrap;
      &__skill {
        position: relative;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          border-right: 1px solid $gray-line;
        }
        &:last-child {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border-right: 0;
          }
        }
      }
    }
  }
  &.show--normal {
    border-bottom: 0px;
    .infoList__item__titleBox {
      border-radius: 0.5rem;
      background-color: $gray-light;
      padding: 0.25rem 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;
      p {
        color: $dark;
        font-weight: $fw--md;
      }
    }
    .infoList__item__skillList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__skill {
        position: relative;
        width: calc(50% - 10px);
        padding: 0.75rem 0;
        border-bottom: 1px solid $gray-line;
      }
    }
  }
}
.card--application {
  position: relative;
  .unHandle {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
}
.docCard {
  cursor: pointer;
  padding: 0.75rem;
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  margin-bottom: 1.25rem;
  min-height: 128px;
  display: flex;
  justify-content: space-between;
  position: relative;
  &__title {
    font-weight: $fw--md;
    color: $dark;
    margin-bottom: 0.25rem;
  }
  &__cover {
    width: 148px;
    height: 108px;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  &:hover {
    background-color: rgba($color: $light, $alpha: 0.5);
  }
  &__btnBox {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
  }
}
.docCard--new {
  border: 1px dashed $secondary;
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1.25rem);
  &:hover {
    background-color: $gray-line;
  }
}
.docCard.docCard--coverLetter {
  flex-direction: column;
  min-height: 142px;
  .docCard--coverLetter__content {
    max-height: 2.5rem;
    overflow: hidden;
  }
}
.docCard.docCard--messageTemplate {
  justify-content: flex-start;
  flex-direction: column;
  min-height: 91px;
  .docCard--messageTemplate__content {
    max-height: 4rem;
    overflow: hidden;
  }
}
.docCard.docCard--video {
  padding: 0;
  .card-body {
    padding: 0.75rem;
  }
}
.readRecordList {
  .list__item {
    background-color: $light;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    &__title {
      font-weight: $fw--md;
      color: $dark;
    }
    &__jobContent {
      display: flex;
      width: 60%;
    }
    &__salaryBox {
      width: 10%;
    }
    &__btnBox {
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .list__item__logoImgBox {
    padding: 0.25rem;
    border: 1px solid $gray-line;
    border-radius: 0.25rem;
    height: 78px;
    .logoImg {
      border: 0;
      height: 100%;
    }
  }
  &.companyRecord {
    .list__item {
      &__jobContent {
        width: 40%;
        align-items: center;
      }
      &__industryBox {
        width: 20%;
      }
      &__jobsBox {
        width: 20%;
      }
      &__btnBox {
        width: 20%;
      }
    }
  }
}
.editSkillListBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  &__header {
    padding: 0.5rem 0.75rem;
    background-color: $gray-line;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__list {
    min-height: 3rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
  }
  .list__item {
    margin-right: 0.5rem;
    &__skill {
      display: flex;
      align-items: center;
    }
    &__skillLevel {
      padding-left: 0.75rem;
      position: relative;
      &::before {
        content: '';
        width: 0.25rem;
        height: 1px;
        background-color: $gray-dark;
        position: absolute;
        position: absolute;
        left: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .jobTag__delete {
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: 0.25rem;
      &:hover {
        background-color: rgba($color: $light, $alpha: 0.5);
      }
    }
  }
}
.btn--newSkill {
  color: $companyColor;
  .jobIcon--sm {
    color: $companyColor;
  }
  &:hover {
    color: $light;
    .jobIcon--sm {
      color: $light;
    }
  }
}
.textarea--tag {
  position: relative;
  &__tagList {
    display: flex;
    border: 1px solid #ced4da;
    padding: 0.5rem 0.75rem;
    border-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__inputBox {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.jobTag--letter {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  &::before {
    content: '';
    background-color: $gray-dark;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
}
.chatRoom {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  top: 64px;
}
.chatRoom__leftContainer {
  width: 24%;
  height: 100%;
  overflow-y: scroll;
  .chatRoom__filterBox {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    position: sticky;
    top: 0;
    z-index: 500;
    .searchInput {
      height: 44px;
      border: 1px solid $gray-line;
      border-radius: 0.5rem;
    }
  }
}
.chatRoom__card {
  cursor: pointer;
  background-color: $light;
  border-bottom: 1px solid $gray-line;
  padding: 0.75rem;
  position: relative;
  .card__img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid $gray-line;
    background-color: $light;
  }
  .card__title {
    font-weight: $fw--md;
    color: $dark;
  }
  &:hover {
    background-color: rgba($color: $gray-light, $alpha: 0.5);
    .card__title {
      color: $primary-dark;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background-color: $primary;
    border-radius: 0 0.5rem 0.5rem 0;
    display: none;
  }
  &.active {
    background-color: rgba($color: $primary-light, $alpha: 0.5);
    &::before {
      display: block;
      .card__title {
        color: $primary-dark;
      }
    }
  }
}
.chatRoom__chatArea {
  width: 38%;
  height: 100%;
  position: relative;
}
.chatArea__userBox {
  height: 50px;
  padding: 0 0.75rem;
  background-color: $light;
  border-bottom: 1px solid $gray-line;
  border-right: 1px solid $gray-line;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .companyLogo {
    height: 28px;
    border: 1px solid $gray-line;
    border-radius: 0.25rem;
  }
}
.chatArea__chatTxtContainer {
  width: 100%;
  height: calc(100% - 190px);
  background-color: $gray-light;
  overflow-y: scroll;
  &.active {
    height: calc(100% - 382px);
  }
}
.chatArea__inputContainer {
  background-color: $gray-line;
  // height: 120px;
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .chatArea__txtInput {
    border: 0;
    resize: none;
  }
  .btn--openTextArea {
    position: relative;
    width: 3rem;
    .jobIcon {
      position: absolute;
      top: 0.5rem;
      right: 0.75rem;
    }
  }
}
.chatRoom__infoArea {
  background-color: $light;
  width: 38%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  .boxSubNav {
    position: sticky;
    top: 0;
    z-index: 200;
  }
  .boxSubNav__item.active {
    background-color: $primary-light;
  }
  .companyImageContainer {
    height: 10rem;
    width: 100%;
    position: relative;
    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .imgCover {
      position: absolute;
      background-color: rgba($color: $dark, $alpha: 0.5);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &__txt {
      position: absolute;
      bottom: 0.75rem;
      left: 0.75rem;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid $gray-line;
    background-color: $light;
    padding: 0.75rem 1rem;
  }
}
.chatRoom__infoArea--company{
  .boxSubNav__item.active {
    background-color: $companyColor-light;
  }
}
.dataEditForm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-line;
}
.cvContainer {
  padding: 1.5rem;
  background-color: $light;
  border-radius: 0.5rem;
  &__title {
    font-size: 1.25rem;
    color: $dark;
    font-weight: $fw--bd;
    display: flex;
    align-items: center;
    &__tag {
      background-color: $primary-light;
      width: 1.25rem;
      height: 0.75rem;
      border-radius: 0.5rem;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        height: 0.75rem;
        width: 0.75rem;
      }
    }
  }
  &__titleBox {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-line;
    display: flex;
    justify-content: space-between;
  }
  &__userBg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $gray-light;
    width: 40%;
    height: 160px;
    border-radius: 0 0.5rem 0 0.5rem;
    &__img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 0.5rem 0 0.5rem;
      object-fit: cover;
    }
    &__btn {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      background-color: rgba($color: $gray-light, $alpha: 0.5);
    }
    .userImgBox {
      position: absolute;
      bottom: 0;
      right: 1.5rem;
      transform: translateY(50%);
    }
  }
  .introVideoBox {
    width: 100%;
    border-radius: 0.5rem;
    height: 320px;
    background-color: $gray-light;
    display: flex;
    align-items: center;
    justify-content: center;
    &__video {
      object-fit: contain;
      height: 100%;
    }
  }
}
.cvSideBox {
  background-color: $light;
  @include shadow-normal;
  border-radius: 0.5rem;
  position: sticky;
  top: 72px;
  &__title {
    background-color: $primary;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    p {
      color: $dark;
    }
  }
  &__sectionList {
    padding: 0.75rem 0rem;
    border-bottom: 1px solid $gray-line;
    .list__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5rem 0 1rem;
      position: relative;
      &:hover {
        background-color: $gray-light;
      }
      &.cvSideBox__sectionList--change {
        padding-left: 2rem;
      }
    }
    &__txt {
      display: flex;
      align-items: center;
    }
    &__check {
      color: $gray-line;
    }
    &__changeBtn {
      height: 100%;
      width: 1.5rem;
      position: absolute;
      left: 0.5rem;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        left: 8px;
        top: 25%;
        background-color: $gray-dark;
        width: 2px;
        height: 50%;
        border-radius: 2px;
      }
      &::after {
        content: '';
        position: absolute;
        right: 8px;
        top: 25%;
        background-color: $gray-dark;
        width: 2px;
        height: 50%;
        border-radius: 2px;
      }
    }
  }
  &__footer {
    padding: 0.5rem 0.75rem;
  }
}
.cvExpSection {
  padding: 1rem 0 1.5rem 0;
  border-bottom: 1px solid $gray-line;
  &__titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.25rem;
    color: $dark;
    font-weight: $fw--md;
  }
  &:hover {
    // background-color: $gray-light;
    .cvExpSection__title {
      color: $primary-dark;
    }
  }
  .btn--circle:hover {
    background-color: $gray-light;
  }
  &--edit {
    padding: 1rem 0 1.5rem 0;
    border-bottom: 1px solid $gray-line;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.cvExpSection__content {
  display: flex;
  justify-content: space-between;
  &__txt {
    width: calc(60% - 0.5rem);
  }
  &__imgBox {
    width: calc(40% - 0.5rem);
    background-color: $gray-light;
    padding: 0.5rem;
    border-radius: 0.5rem;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }
}
.cvExpSection__content.cvExpSection--largeImg {
  flex-direction: column;
  .cvExpSection__content__txt {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  .cvExpSection__content__imgBox {
    width: 100%;
  }
}
.cvExpSection__content--works {
  .cvExpSection__content__txt {
    width: calc(50% - 0.5rem);
  }
  .cvExpSection__content__imgBox {
    width: calc(50% - 0.5rem);
  }
}
.workPickerBox {
  border-top: 1px solid $gray-line;
  padding: 1rem 1.5rem;
  background-color: $gray-light;
  height: 360px;
  overflow-y: scroll;
  .docCard {
    border: 0;
    position: relative;
    z-index: 1;
    .img-cover {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    &__checkBox {
      width: 44px;
      height: 44px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &:hover {
      .docCard__title {
        color: $primary-dark;
      }
    }
  }
  .docCard--product {
    .img-cover {
      border-radius: 0.25rem;
    }
    .docCard__checkBox {
      top: 0.25rem;
      left: 0.25rem;
    }
  }
}
.uploadUserImgIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  min-height: 280px;
  &__img {
    width: 160px;
    border-radius: 0.5rem;
  }
}
.otherApplyModalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  img {
    width: 80%;
  }
  &:hover {
    background-color: rgba($color: $gray-light, $alpha: 0.5);
  }
  &__title {
    font-size: 1.25rem;
    font-weight: $fw--md;
    color: $dark;
  }
}
.adminList--single {
  .list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light;
    border-radius: 0.5rem;
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.8);
    }
  }
}
