//後台
.selectBox__section {
  position: relative;
  border-bottom: 1px solid $gray-line;
  padding: 1.5rem;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .collectBtn {
    right: 0;
  }
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 48px;
    .jobImage {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -4px;
    right: -36px;
    padding: 6px;
    background-color: #fff;
    border-radius: 0px 0px 0px 4px;
    .logoImage {
      width: 120px;
      border: 1px solid $gray-line;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 12px;
  }
  .page__txt {
    color: #646464;
  }
  .page__link {
    text-decoration: underline;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
    @include sm {
      max-width: 100%;
    }
  }
  .logoImageBox.company {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px;
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    .logoImage {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .jobContent__imgBox.company {
    width: auto;
    margin-right: 12px;
  }
}
.adminInfoList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75rem;
  .innerList__item {
    margin-bottom: 0.75rem;
    width: 50%;
    @include sm {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
    &:hover {
      .innerList__item__txt {
        color: $primary;
      }
    }
    &__subTxt {
      font-size: 14px;
      color: $secondary;
      margin-bottom: 0.25rem;
    }
  }
}
.applyJobPage {
  position: relative;
  .applyJobPage__sideBox {
    position: sticky;
    top: 112px;
    @include md {
      position: static;
      .jobSelectBox {
        max-height: 480px;
      }
    }
    @include sm {
      .jobSelectBox {
        max-height: 240px;
      }
    }
  }
  .jobSelectBox {
    max-height: 78vh;
  }
}
.editCompanyInfoBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .form__input {
    margin-bottom: 0;
  }
  .inputBox--logo {
    width: calc(32% - 10px);
  }
  .companyInfoBox__txtBox {
    width: calc(68% - 10px);
    display: flex;
    flex-direction: column;
    .form__input {
      width: 80%;
    }
  }
  .editCompanyData {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
.btn--preview {
  background-color: $light;
  border: 1px solid $gray-line;
  color: $dark;
}
.btn--preview.active {
  background-color: $companyColor-light;
  color: $companyColor;
  border: 1px solid $companyColor-light;
  .jobIcon--sm {
    color: $companyColor;
  }
}
.setting__sideList {
  position: sticky;
  top: 86px;
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  &__nav {
    padding-bottom: 1rem;
    .nav__item {
      cursor: pointer;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.75rem;
      border-bottom: 1px solid $gray-line;
      position: relative;
      &:first-child {
        border-top: 1px solid $gray-line;
      }
      &::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $primary;
        border-radius: 0.25rem 0 0 0.25rem;
        width: 0rem;
        opacity: 0;
        transition: all 0.3s;
      }
      &.active {
        background-color: $primary-light;
        transition: all 0.3s;
        .nav__item__title {
          color: $primary-dark;
        }
        &::after {
          width: 0.25rem;
          opacity: 1;
          transition: all 0.3s;
        }
      }
      .jobIcon {
        color: $gray-line;
      }
    }
  }
}
.setting__personImgBox {
  width: 120px;
  height: 120px;
  background-color: $gray-light;
  border-radius: 50%;
  overflow: hidden;
  .personImgBox__img {
    max-width: 100%;
  }
}
.admin__mainContent {
  background-color: $light;
  border-radius: 0.5rem;
  @include shadow-normal;
  padding: 1.5rem;
  position: relative;
  min-height: 480px;
  &__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  &__btnBox {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
  }
}
.readRecordList {
  .list__item {
    background-color: $light;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    &__title {
      font-weight: $fw--md;
      color: $dark;
    }
    &__jobContent {
      display: flex;
      width: 60%;
    }
    &__salaryBox {
      width: 10%;
    }
    &__btnBox {
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .list__item__logoImgBox {
    padding: 0.25rem;
    border: 1px solid $gray-line;
    border-radius: 0.25rem;
    height: 78px;
    .logoImg {
      border: 0;
      height: 100%;
    }
  }
  &.companyRecord {
    .list__item {
      &__jobContent {
        width: 40%;
        align-items: center;
      }
      &__industryBox {
        width: 20%;
      }
      &__jobsBox {
        width: 20%;
      }
      &__btnBox {
        width: 20%;
      }
    }
  }
}
.editSkillListBox {
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  &__header {
    padding: 0.5rem 0.75rem;
    background-color: $gray-line;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__list {
    min-height: 3rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
  }
  .list__item {
    margin-right: 0.5rem;
    &__skill {
      display: flex;
      align-items: center;
    }
    &__skillLevel {
      padding-left: 0.75rem;
      position: relative;
      &::before {
        content: '';
        width: 0.25rem;
        height: 1px;
        background-color: $gray-dark;
        position: absolute;
        position: absolute;
        left: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .jobTag__delete {
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: 0.25rem;
      &:hover {
        background-color: rgba($color: $light, $alpha: 0.5);
      }
    }
  }
}
.btn--newSkill {
  color: $companyColor;
  .jobIcon--sm {
    color: $companyColor;
  }
  &:hover {
    color: $light;
    .jobIcon--sm {
      color: $light;
    }
  }
}
.textarea--tag {
  position: relative;
  &__tagList {
    display: flex;
    border: 1px solid #ced4da;
    padding: 0.5rem 0.75rem;
    border-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &__inputBox {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.jobTag--letter {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  &::before {
    content: '';
    background-color: $gray-dark;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
}

.dataEditForm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-line;
}
.workPickerBox {
  border-top: 1px solid $gray-line;
  padding: 1rem 1.5rem;
  background-color: $gray-light;
  height: 360px;
  overflow-y: scroll;
}
.uploadUserImgIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  min-height: 280px;
  &__img {
    width: 160px;
    border-radius: 0.5rem;
  }
}
.otherApplyModalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  img {
    width: 80%;
  }
  &:hover {
    background-color: rgba($color: $gray-light, $alpha: 0.5);
  }
  &__title {
    font-size: 1.25rem;
    font-weight: $fw--md;
    color: $dark;
  }
}

