//前台header
.header--company {
  padding: 0.125rem 0px;
  background-color: $companyColor;
  border-bottom: 1px solid $light;
  .header__logo {
    max-height: 60px;
  }
  //header搜尋視窗定位
  .header__searchModal {
    position: absolute;
    top: 3.75rem;
    right: 0;
    left: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  .header__navBox {
    position: relative;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav__item {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -12px;
        background-color: $dark;
        height: 0rem;
        width: 100%;
        border-radius: 0.25rem 0.25rem 0 0;
      }
      .nav__item__link {
        color: $light;
        font-weight: $fw--md;
      }
      .nav__item__link:hover {
        background-color: rgba($color: $light, $alpha: 0.5);
      }
      &.active {
        &::after {
          height: 0.25rem;
        }
        @include md {
          &::after {
            height: 1rem;
          }
        }
      }
      @include md {
        &::after {
          left: 0;
          bottom: 50%;
          width: 4px;
          transform: translateY(25%);
          border-radius: 0.25rem;
        }
      }
    }
  }
  .header__companyBtnBox {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
  }
  .header__companyBtnBox--sm {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  @include md {
    .header__navBox {
      background-color: $companyColor;
      position: fixed;
      top: calc(4rem + 1px);
      bottom: 0;
      right: -100%;
      width: 80%;
      transition: all 0.3s;
      padding: 1rem;
      z-index: 1200;
    }
    .header__navBox.active {
      right: 0%;
    }
    .header__nav {
      max-height: 100%;
      flex-direction: column;
    }
    .nav-item {
      width: 100%;
      padding-bottom: 0.5rem;
      margin-top: 0.5rem;
      border-bottom: 1px solid $gray-line;
      padding-left: 0;
    }
  }
  .menuCover {
    top: calc(4rem + 1px);
    left: -100%;
    width: 20%;
    &.active {
      left: 0;
    }
  }
}
.userMenu--company {
  min-width: 240px;
  position: absolute;
  right: 1rem;
  .userMenu__list {
    .list__item {
      &__link {
        color: $dark;
        padding: 0.75rem 0;
      }
      &:hover {
        .list__item__link {
          color: $companyColor;
        }
      }
    }
  }
}
.admin__subNav.admin__subNav--company {
  .admin__subNav__item {
    &::after {
      background-color: $companyColor;
    }
    &:hover {
      background-color: $companyColor-light;
      .admin__subNav__txt {
        color: $companyColor;
      }
    }
    &.active {
      background-color: $companyColor-light;
      .admin__subNav__txt {
        color: $companyColor;
      }
    }
  }
}
.emptyCompanyImgBox {
  position: relative;
  border-radius: 0.5rem;
  width: calc(33.333% - 12px);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $dark, $alpha: 0.5);
    border-radius: 0.5rem;
  }
  .emptyCompanyImg {
    border-radius: 8px;
    width: 100%;
  }
}
.width--33 {
  position: relative;
  width: calc(33.333% - 12px);
}
.candidateList {
  @include md {
    display: none;
    &.checked {
      display: block;
    }
  }
  .personCard {
    min-height: 5rem;
    background-color: $light;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    display: flex;
    @include shadow-normal;
    @include md {
      flex-direction: column;
    }
    &__listBox {
      display: flex;
      width: calc(100% - 6rem);
      @include md {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__personalImg {
      border: 1px solid $gray-line;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      @include md {
        margin-bottom: 1rem;
      }
    }
    &__introVideo {
      width: 120px;
      height: 80px;
      padding: 0.5rem;
      background-color: $gray-light;
      border-radius: 0.25rem;
      margin-right: -1.5rem;
    }
    &__infoBox {
      width: 100%;
      &__item {
        display: flex;
        @include md {
          flex-direction: column;
        }
      }
    }
    &__name {
      font-size: 1.25rem;
      font-weight: $fw--md;
      color: $dark;
      margin-bottom: 0.75rem;
    }
    &__txt {
      margin-bottom: 0.25rem;
    }
    .card__btnBox {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      @include md {
        position: relative;
        justify-content: flex-end;
        right: 0;
        top: 0;
      }
    }
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.8);
      .personCard__name {
        color: $companyColor;
      }
    }
  }
}
.candidateList--inBox {
  .personCard {
    margin-bottom: 0;
    border-radius: 0;
    @include shadow-none;
    border-bottom: 1px solid $gray-line;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.5);
    }
  }
}
.personCard__infoBox {
  width: 100%;
  &__item {
    display: flex;
    .personCard__subTxt {
      font-size: 14px;
      color: $secondary;
      min-width: 4rem;
      margin-right: 0.75rem;
    }
  }
}
.personTagBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -0.5rem;
  &__item {
    margin-bottom: 0.5rem;
  }
}
.personTag {
  border-radius: 1.25rem;
  padding: 0.25rem 0.75rem;
  color: $dark;
  margin-right: 0.5rem;
  border: 1px solid $secondary;
  .jobIcon {
    font-size: 1rem;
    margin-right: 0.25rem;
  }
}
.personTag--new {
  border: 1px dashed $secondary;
  color: $dark;
}
.adminContentNav {
  display: flex;
  border-bottom: 1px solid $gray-line;
  &__item {
    padding: 0.75rem 0.75rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:first-child {
      border-radius: 0.5rem 0 0 0;
    }
    &:last-child {
      border-radius: 0;
    }
    &::after {
      content: '';
      width: 1px;
      height: 1.5rem;
      background-color: $gray-line;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
    }
    &::before {
      content: '';
      width: 4rem;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      background-color: $companyColor;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &.active {
      background-color: $companyColor-light;
      &::before {
        display: block;
      }
      p,
      span {
        color: $companyColor;
      }
    }
    &:hover {
      p,
      span {
        color: $companyColor;
      }
    }
  }
  &__item:last-child {
    &::after {
      display: none;
    }
  }
  &--50 {
    width: 50%;
  }
  &.adminContentNav--fill {
    .adminContentNav__item {
      flex-grow: 1;
    }
    .adminContentNav__item:last-child {
      border-radius: 0 0.5rem 0 0;
    }
  }
}
.personPop {
  .modal-content.heightFixed {
    height: 88vh;
  }
  .popModal__header {
    padding: 1.5rem 0 0 0;
  }
  .popModal__body {
    overflow-y: scroll;
  }
  .btnBox {
    display: flex;
    align-items: flex-end;
  }
  &__personInfoBox {
    display: flex;
    justify-content: space-between;
    &__innerBox {
      display: flex;
      align-items: center;
    }
    .personInfoBox__personalImg {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
    .personInfoBox__name {
      font-size: 20px;
      font-weight: $fw--md;
    }
  }
  &__nav {
    display: flex;
    padding-left: 1.5rem;
    background-color: $gray-light;
    border-top: 1px solid $gray-line;
    border-bottom: 1px solid $gray-line;
    &__item {
      padding: 0.75rem 0.75rem;
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        width: 1px;
        height: 1.5rem;
        background-color: $gray-line;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
      }
      &::before {
        content: '';
        width: 4rem;
        height: 0.25rem;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: $companyColor;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
      }
      &.active {
        &::before {
          display: block;
        }
        p,
        span {
          color: $companyColor;
        }
      }
      &:hover {
        p,
        span {
          color: $companyColor;
        }
      }
    }
  }
  .personPopContentBox {
    padding: 1.5rem;
    border-bottom: 1px solid $gray-line;
    height: 100%;
    &__doc {
      padding: 0.5rem;
      display: flex;
      border-color: $light;
      border-radius: 0.5rem;
      &__img {
        width: 120px;
        border-radius: 0.25rem;
      }
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
.sideChatBox {
  background-color: $light;
  @include shadow-normal;
  border-radius: 0.5rem;
  position: sticky;
  top: 72px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    background-color: $companyColor;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    p {
      color: $dark;
    }
  }
  &__chatTxtContainer {
    width: 100%;
    flex-grow: 1;
    background-color: $gray-light;
    overflow-y: scroll;
    &.active {
      height: calc(100% - 382px);
    }
  }
  &__inputContainer {
    background-color: $gray-line;
    padding: 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
    .sideChatBox__txtInput {
      border: 0;
      resize: none;
    }
    .btn--openTextArea {
      position: relative;
      width: 3rem;
      .jobIcon {
        position: absolute;
        top: 0.5rem;
        right: 0.75rem;
      }
    }
  }
}

.adminInnerList {
  width: 100%;
  &__item {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    display: flex;
    width: 100%;
    &:hover {
      background-color: rgba($color: $gray-light, $alpha: 0.5);
    }
    &__img {
      border-radius: 0.25rem;
      object-fit: cover;
      width: 24%;
      height: 100%;
    }
    &__title {
      color: $dark;
      font-weight: $fw--md;
    }
    &__infoTxt {
      display: flex;
      align-items: center;
      .subTxt {
        font-size: 14px;
        color: $secondary;
        min-width: 4rem;
        margin-right: 0.75rem;
      }
    }
  }
}
// .memberShipList {
//   border-radius: 0.5rem;
//   border: 1px solid $gray-line;
//   &__titleItem {
//     width: 25%;
//   }
//   &__item {
//     width: 25%;
//   }
// }
.adPreviewContainer {
  background-color: $gray-light;
  max-height: 480px;
  overflow-y: auto;
  &__img {
    display: block;
    margin: 0 auto;
  }
}
.payService__orderList {
  .tableList {
    &__item {
      width: 25%;
    }
  }
}
.orderInfoBox {
  .tableList__item {
    width: 25%;
  }
}
.signFlowImgBox {
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.signFlowContainer {
  @include sm {
    padding-top: 180px;
  }
}
.signFlow__img {
  width: 480px;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  @include xl {
    width: 360px;
  }
  @include md {
    width: 240px;
  }
  @include sm {
    width: 160px;
    height: auto;
  }
}
.signFlow__img--left {
  left: 5%;
  @include lg {
    transform: translateX(-20%);
  }
  @include md {
    transform: translateX(-50%);
  }
  @include sm {
    transform: translateY(0%);
  }
}
.signFlow__img--right {
  right: 5%;
  @include xl {
    transform: translateX(10%);
  }
  @include md {
    transform: translateX(10%);
  }
}
.memberShipList.flexTable {
  min-height: 800px;
  padding: 0;
  border: 1px solid $gray-line;
  border-radius: 0.5rem;
  .flexTable__cell {
    border-right: 1px solid $gray-line;
    border-top: 1px solid $gray-line;
  }
  .flexTable__header {
    flex-grow: 1;
    .flexTable__cell {
      padding: 0.5rem 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include md{
      p{
        font-size: 14px;
      }
    }
  }
  .flexTable__body {
    flex-grow: 3;
    .flexTable__cell {
      padding: 0.5rem 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    .flexTable__cell--center {
      justify-content: center;
    }
    .flexTable__item {
      flex-direction: column;
      padding: 0;
    }
    .flexTable__item:last-child {
      .flexTable__cell {
        border-right: 0;
      }
    }
    @include md {
    flex-grow: 2;
      width: 240px;
      overflow-x: scroll;
      .flexTable__item {
        min-width:200px;
      }
    }
  }
  .memberShipList__hotItem {
    position: relative;
    &::before {
      font-size: 14px;
      content: '最熱門';
      position: absolute;
      top: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem;
      padding: 0.5rem 0.75rem;
      background-color: $primary;
      color: $dark;
    }
  }
  .memberShipList__bestItem {
    position: relative;
    &::before {
      font-size: 14px;
      content: '最優惠';
      position: absolute;
      top: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem;
      padding: 0.5rem 0.75rem;
      background-color: $companyColor;
      color: $light;
    }
  }
}
