// 設定推薦列表
.recommendTagList {
  display: flex;
  &__btn {
    margin-right: 0.5rem;
    color: $dark;
    &.active {
      border: 1px solid $primary;
      color: $primary-dark;
      background-color: $primary-light;
    }
    &--new {
      color: $companyColor;
      .jobIcon--sm {
        color: $companyColor;
      }
    }
    &--new:hover {
      color: $light;
      .jobIcon--sm {
        color: $light;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}


// 收藏頁面
//收藏夾
.collectionBox {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  &:hover {
    background-color: $gray-light;
  }
  .txtBox__title {
    // font-size: 20px;
    font-weight: $fw--md;
    color: $dark;
  }
  .txtBox__title:hover {
    color: $primary;
  }
}
.collectionBox__imgBox {
  position: relative;
  height: 240px;
  background-color: $gray-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  &__item {
    background-color: $gray-line;
    overflow: hidden;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $dark, $alpha: 0.3);
    }
  }
  .item--fri {
    width: calc(50% - 0.125rem);
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &__innerBox {
    width: calc(50% - 0.125rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item--sec {
      height: calc(50% - 0.125rem);
      width: 100%;
      border-radius: 0 0.5rem 0 0;
    }
    &__littleBox {
      display: flex;
      justify-content: space-between;
      height: calc(50% - 0.125rem);
    }
    .item--tri {
      width: calc(50% - 0.125rem);
      height: 100%;
    }
    .item--four {
      width: calc(50% - 0.125rem);
      height: 100%;
      border-radius: 0 0 0.5rem 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.collectionBox--new {
  height: 100%;
  &:hover {
    .collectionBox--new__newBtn,
    .jobIcon {
      color: $primary;
    }
  }
  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .collectionBox--new__newBtn {
      background-color: $gray-light;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
    }
  }
  .collectionBox__imgBox {
    &__item {
      &::after {
        background-color: rgba($color: $dark, $alpha: 0);
      }
    }
  }
}
.nowFolder {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:hover {
    background-color: $gray-light;
    .collectFolder--sm {
      background-color: $gray-line;
    }
    .collectFolder__title {
      color: $primary;
    }
  }
  .collectFolder--sm {
    width: 44px;
    height: 44px;
    background-color: $gray-light;
    border-radius: 0.5rem;
    margin-right: 1rem;
    .collectFolder__imgCover {
      border-radius: 0.5rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .collectFolder--new {
    display: flex;
    align-items: center;
    justify-content: center;
    .jobIcon {
      color: $dark;
    }
  }
  .collectFolder__subTxt {
    font-size: 14px;
    color: $secondary;
  }
}
.collectionBoxList--company {
  min-height: 320px;
}
.collectionCompanyCard {
  margin-bottom: 1.25rem;
  &__companyInfoBox {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    &__logoBox {
      max-width: 4rem;
      padding: 0.25rem;
      border: 1px solid $gray-line;
      border-radius: 0.25rem;
    }
    .logoBox__logo {
      width: 100%;
    }
  }
  .card__title {
    font-size: 1rem;
    color: $dark;
    font-weight: $fw--md;
  }
  &__Job {
    padding: 0.75rem;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    min-height: 80px;
    &--unRecruit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      min-height: 80px;
    }
    &:hover {
      background-color: $gray-light;
    }
    &__title {
      font-weight: $fw--md;
      color: $dark;
    }
  }
}

.iconBtnBox {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $light, $alpha: 0.75);
  .actionIcon {
    font-size: 24px;
    font-weight: bold;
    color: #1d1d1d;
  }
}

.hamburgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 44px;
  width: 44px;
  &:hover {
    background-color: rgba($color: $light, $alpha: 0.16);
  }
  .jobIcon {
    color: $white;
  }
}

.img--searchNoJob {
  max-width: 48%;
  margin: 2rem 0;
  @include md {
    max-width: 64%;
  }
  @include sm {
    max-width: 80%;
  }
}
// 申請畫面scss
.applyContainer {
  background-color: $light;
  border-radius: 0.5rem;
  display: flex;
  &__applySideBox {
    width: 36%;
    background-color: $gray-line;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 1.5rem;
    .logoImgBox {
      width: 24%;
      border-radius: 0.25rem;
    }
    .applySideBox__companyBox {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray-line;
      margin-bottom: 1rem;
    }
    .applySideBox {
      max-height: calc(100% - 4rem);
      overflow-y: auto;
    }
  }
  .applySideBox__section {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-line;
    margin-bottom: 0.75rem;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &__open {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: $fw--md;
      color: $dark;
      padding-right: 0.75rem;
      height: 44px;
    }
    &__content {
      margin-top: 0.75rem;
    }
  }
  &__applyInfoBox {
    width: 64%;
    padding: 1.5rem;
  }
  .applySideBox {
    background-color: $light;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  .applyBackBtn {
    &__title {
      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 20px;
        background-color: $gray-line;
        border-radius: 50%;
        left: -0.5rem;
        top: 0;
        position: absolute;
      }
    }
  }
  @include md {
    flex-direction: column;
    &__applySideBox {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .applySideBox {
      max-height: 240px;
      overflow-y: auto;
    }
    &__applyInfoBox {
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
  @include sm {
    .applySideBox {
      display: none;
    }
    &__applySideBox {
      padding: 1rem;
    }
    .applySideBox {
      padding: 1rem;
    }
  }
}
// 申請頁面的文件選擇區
.docSelector {
  display: flex;
  flex-direction: column;
  &__titleBox {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: $gray-light;
    display: flex;
    align-items: center;
  }
  &__contentBox {
    background-color: $gray-light;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 96px;
    display: flex;
    padding: 0.5rem;
    flex-grow: 1;
    overflow-x: auto;
    .scvCard.scvCard--coverLetter {
      flex-shrink: 0;
      min-height: 64px;
      width: 40%;
    }
  }
}
.newImgInputBtn {
  border-radius: 0.5rem;
  border: 1px dashed $secondary;
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $gray-line;
  }
}

.shotJobImgBox {
  width: 100%;
  &__img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &__content {
    font-size: 14px;
  }
}
// 首頁出現的 更多職位彈跳視窗
.otherApplyModalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid $gray-line;
  img {
    width: 80%;
  }
  &:hover {
    background-color: rgba($color: $gray-light, $alpha: 0.5);
  }
  &__title {
    font-size: 1.25rem;
    font-weight: $fw--md;
    color: $dark;
  }
}